body {
	padding-bottom: 60px;
}

i {
	&.fa {
		color: $font-gray;
		&:before {
			font-weight: normal;
			padding-right: 10px;
		}
		+ span {
			color: $font-gray;
		font-weight: bold;
		}
	}
}




		