$border-color: #ebebeb;
$fade-color: #fafafa;

$btn-gray: #6B7683;
$btn-dark-gray: #555e69;
$btn-light-blue: #badfed;
$btn-blue: #027ebb;
$btn-dark-blue: #005985;

$font-gray: #666;

$solid-blue: #4285f4;
$solid-dark-blue: #2661c3;
$solid-black: #1a1b21;
$solid-green: #6ad969;
$solid-mint: #38ddcc;